:root {
            --background-color: #121212;
            --text-color: #ffffff;
            --primary-color: #1DB954;
            --secondary-color: #535353;
            --hover-color: #1ed760;
        }

        body {
            font-family: 'Circular', Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: var(--background-color);
            color: var(--text-color);
            height: 100vh;
            overflow: hidden;
        }

        h1 {
            color: var(--primary-color);
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        #teamLegend, #streamMenu {
            position: fixed;
            top: 10px;
            width: 200px;
            max-height: 300px;
            overflow-y: auto;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            transition: max-height 0.3s ease, padding-bottom 0.3s ease;
        }

        #teamLegend {
            right: 250px;
        }

        #streamMenu {
            right: 20px;
        }

        #teamLegend.hiding, #streamMenu.hiding {
            max-height: 40px;
            overflow: hidden;
            padding-bottom: 0;
        }

        #teamLegend h2, #streamMenu h2 {
            margin: 0;
            padding: 0;
            color: var(--primary-color);
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .toggle-button {
            display: inline-block;
            width: 20px;
            height: 20px;
    
            color: var(--text-color);
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 16px;
        }

        #teamLegend, #streamMenu {
            border-bottom: 3px solid var(--primary-color);
        }

        .teamItem, .menuItem {
            display: flex;
            align-items: center;
            margin: 5px 0;
        }

        .teamColor, .playerColor {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 5px;
            flex-shrink: 0;
        }

        .teamName, .menuName {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 14px;
            flex-grow: 1;
        }

        .menuItem button {
            background: none;
            border: none;
            color: var(--primary-color);
            cursor: pointer;
            margin-left: 10px;
        }

        #streamContainer {
            position: relative;
            height: calc(100vh - 150px);
        }

        .streamFrame {
            position: absolute;
            width: 320px;
            height: 180px;
            background-color: transparent;
            border: 2px solid var(--primary-color);
            border-radius: 8px;
            overflow: hidden;
            cursor: move;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }

        .streamFrame:hover .colorPickerIcon,
        .streamFrame:hover .closeButton {
            display: block;
        }

        .colorPickerIcon {
            display: none;
            position: absolute;
            top: 5px;
            right: 30px;
            width: 20px;
            height: 20px;
            background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
        }

        .closeButton {
            display: none;
            position: absolute;
            z-index: 10;
        }

        .streamFrame iframe {
            width: 100%;
            height: 100%;
            border: none;
            pointer-events: none;
        }

        .colorOptions {
            position: absolute;
            top: 30px;
            right: 23px;
            display: none;
            flex-direction: column;
            gap: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 5px;
            border-radius: 5px;
            max-height: 125px;
            overflow-y: auto;
            z-index: 1000;
        }

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid #ccc;
        }
      
        #addStreamForm {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        input, button {
            padding: 12px 20px;
            font-size: 16px;
            border: none;
            border-radius: 50px;
        }

        input {
            width: 300px;
            background-color: var(--secondary-color);
            color: var(--text-color);
            margin-right: 10px;
        }

        input::placeholder {
            color: #b3b3b3;
        }

        button {
            background-color: var(--primary-color);
            color: var(--text-color);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: var(--hover-color);
        }

        .resizer {
            position: absolute;
            width: 10px;
            height: 10px;
            background: transparent;
            z-index: 2;
            display: none;
        }

        .top-left {
            top: 0;
            left: 0;
            cursor: nwse-resize;
        }

        .top-right {
            top: 0;
            right: 0;
            cursor: nesw-resize;
        }

        .bottom-left {
            bottom: 0;
            left: 0;
            cursor: nesw-resize;
        }

        .bottom-right {
            bottom: 0;
            right: 0;
            cursor: nwse-resize;
        }

        .streamFrame.resize-mode .resizer {
            display: block;
        }

        .closeButton {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 0, 0);
            color: var(--text-color);
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 16px;
            z-index: 11;
        }

        .closeButton.hidden {
            display: none;
        }

        .colorPickerIcon.hidden {
            display: none;
        }

        .streamFrame.no-team {
            border: 2px solid transparent;
        }

        .streamFrame.team-assigned {
            border: 2px solid var(--primary-color);
        }
        .chatToggleButton {
    display: none;
    position: absolute;
    top: 5px;
    right: 30px;
    width: 50px;
    height: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    z-index: 10;
}

        .chatToggleButton {
        right: 60px; /* Positioned next to color picker */
}
        .streamFrame:hover .chatToggleButton {
        display: block;
}
        .switch {
            position: fixed;
            top: 10px;
            left: 10px;
            display: inline-block;
            width: 60px;
            height: 34px;
            z-index: 1002;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--secondary-color);
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: var(--primary-color);
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        #modeLabel {
            position: fixed;
            top: 15px;
            left: 80px;
            z-index: 1002;
        }
